/* Add custom CSS here. */

/* Table styles */

table {
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 16px auto;
  overflow-x: auto;
  white-space: nowrap;
}

th, td {
    padding-right: 16px;
}